.navbtn {
  color: $blue;
  cursor: pointer;
  font-size: 20px;
  border: 15px solid $white;
  border-radius: 20px;
  background-color: $offerwhite;
  width: 15%;
  font-size: 20px;
  transition: $dwellTime;
  outline: none;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    background: $darkblue;
    width: 5em;
    height: 5em;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: {
      left: (5em / -2);
      top: (5em / -2);
    }
    border-radius: 50%;
    opacity: 0;
    transform: scale(1);
    transition:
      opacity $dwellTime cubic-bezier(0,0,.2,1),
      transform $dwellTime cubic-bezier(0,0,.2,1);
  }

  &:hover {
    color: $darkblue;
    background-color: $offwhite-3;
    &:before {
      opacity: 0.6;
      transform: scale(0);
    }
  }
}

#navbar {
  display: flex;
  width: 100%;
  height: $navHeight;
  background: $white;
  top: 0;
  left: 0;
  border-bottom: 1px solid $lightgrey;
  box-sizing: border-box;

  #backOrForwardBtn {
    @extend .navbtn;
    display: flex;
    align-items: center;
    justify-content: center;

    #backBtn {
      margin-right: 10px;
    }

    #forwardBtn  {
      margin-left: 10px;
    }
  }

  #menuBtn  {
    @extend .navbtn;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #omnibox  {
    flex: 1;
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    color: $blue;
    background-color: $offerwhite;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: $dwellTime;
    outline: none;
    overflow: hidden;
    position: relative;

    input {
      border: none;
      outline: none;
      height: 95%;
      width: 90%;
      border-radius: 5px;
      font-size: 18px;
      color: $blue;
      background-color : $offerwhite;
      cursor: pointer;
      transition: $dwellTime;
    }

    &:before {
      content: '';
      background: $darkblue;
      width: 10em;
      height: 10em;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: {
        left: (10em / -2);
        top: (10em / -2);
      }
      opacity: 0;
      transform: scale(1);
      transition:
        opacity $dwellTime cubic-bezier(0,0,.2,1),
        transform $dwellTime cubic-bezier(0,0,.2,1);
    }

    &:hover {
      color: $darkblue;
      background-color: $offwhite-3;
      &:before {
        opacity: 0.6;
        transform: scale(0);
      }

      input {
        color: $darkblue;
        background-color: $offwhite-3;
      }
    }

    #loader {
      display: block;
      border: 2px solid $offerwhite;
      border-top: 2px solid $blue;
      border-bottom: 2px solid $blue;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 1s cubic-bezier(.5,.27,.22,.5)  infinite;
      margin-right: auto;
      margin-left: auto;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    #favicon {
      display: none;
      margin-right: auto;
      color: $green;
      margin-left: auto;
    }
  }
}
