////////////
// COLORS //
////////////

$white: #ffffff;
$offwhite: #f9faff;
$offerwhite: #f3f2fa;
$offwhite-3: #e3e2ed;

// $blue:  #1d93f4;
// $darkblue: #093253;
// $lightblue: #def0fe;

// $grey: #787878;
// $lightgrey: #e0e0e0;

$black: #1a1a26;

$grey: #545359;
$lightgrey: #aaacbb;
$lightergrey: #c5c5cf;
$bluegrey: #8488a3;

$darkblue: #4a6ee0;
$blue: #638eec;
$lightblue: #a3c2f1;
$lighterblue: #d5e3ff;

$green: #17c39d;
$yellow: #fab711;

$red: #e3183b;
$lightred: #fce2e5;
$darkred: #ba1539;

///////////////
// VARIABLES //
///////////////

$navHeight: 90px;
$dwellTime: 1s;
