#views {
  position: relative;
}
  
.webpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.overlay {
  display: none; 
  position: absolute;
  width: 100%;
  height: calc(100vh - 90px);
  opacity: 0.4;
  z-index: 2;
}

#overlay-nav {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  'back forward'
  'back forward'
  'back forward'
  'cancel cancel';

  #goBackBtn {
    grid-area: back;
  }

  #goForwardBtn {
    grid-area: forward;
  }
}

#overlay-omnibox {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  'bookmark refresh search'
  'url tabs close'
  'cancel cancel cancel';

  #bookmarkPageBtn {
    grid-area: bookmark;
  }

  #refreshPageBtn {
    grid-area: refresh;
  }

  #searchBtn {
    grid-area: search;
  }

  #newUrlBtn {
    grid-area: url;
  }

  #tabsBtn {
    grid-area: tabs;
  }

  #closeBtn {
    grid-area: close;
  }
}

.overlay .cancelBtn {
  grid-area: cancel;
  background-color: $lightred;
  color: $red;
}

.overlayBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -18px 23px 76px -26px $lightgrey;
  border-radius: 20px;
  margin: 3px;
  cursor: pointer;
  outline: none;
  background-color: $offwhite;
  color: $blue;
  transform: translate3d(0,0,0);
  position: relative;
  overflow: hidden;
}

.overlayBtn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, $white 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.overlayBtn:hover:after {
  transform: scale(0,0);
  opacity: 0.3;
  transition: 0s;
}

