@import './_vars.scss';

body { 
  overflow: hidden;
  user-select: none;
}

a, input, button, div  {
  cursor: none !important;
}

// Magnetic Pattern
.linkMarker {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 0%;
    height: 3px;
    display: block;
    background: $green !important;
    transition: $dwellTime ease-in-out;
  }
}

.linkDwell {
  color: $green !important;
  background-color: lighten($green, 50%) !important;
  border-radius: 5px;

  &:after {
    width: 100%;
  }
}

// QuadTree Pattern
.linkMark {
  position: relative;
  // background-color: transparent;
}

.linkVisualise {
  color: $green !important;
  background-color: lighten($green, 50%) !important;
  border-radius: 5px;
}

.navMarker {
  color: default;
  background-color: inherit;

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 0%;
    height: 3px;
    display: block;
    background: $green !important;
    transition: $dwellTime ease-in-out;
  }
}

.navMarker:hover {
  color: $black;
  background-color: lighten($green, 50%) !important;

  &:after {
    width: 100%;
  }
}

// .navMarker::before {
//   content: " ";
//   position: absolute;
//   width: 100%;
//   height: 70px;
//   border-radius: 20px;
//   background-image: linear-gradient($blue-2, $blue-2);
//   background-size: 0% 0%;
//   background-position: 50% 50%;
//   transition: background-size $dwellTime ease-in-out;
// }

// .navMarker:hover:before {
//   background-size: 100% 100%;
// }