@import './_vars.scss';

body { 
  overflow: hidden;
  cursor: none;
  user-select: none;
}

.linkMarker {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 0%;
    height: 3px;
    display: block;
    background: $green !important;
    transition: $dwellTime ease-in-out;
  }
}

.linkDwell {
  color: $green !important;
  background-color: lighten($green, 50%) !important;
  border-radius: 5px;

  &:after {
    width: 100%;
  }
}