@import './_vars.scss';

.linkDwell {
  position: relative;
  border: 1px solid $green;

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 0%;
    height: 3px;
    display: block;
    background: $green !important;
    transition: $dwellTime ease-in-out;
  }

  &:hover {
    color: $green !important;
    background-color: lighten($green, 70%) !important;

    &:after {
      width: 100%;
    }
  }
}
